<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui1_btn_1_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,379},{100,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,92}}</string>
                <key>sourceSize</key>
                <string>{100,94}</string>
            </dict>
            <key>ui1_btn_1_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,286},{100,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,92}}</string>
                <key>sourceSize</key>
                <string>{100,94}</string>
            </dict>
            <key>ui1_btn_2_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,143},{106,142}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{106,142}}</string>
                <key>sourceSize</key>
                <string>{106,152}</string>
            </dict>
            <key>ui1_btn_2_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,0},{106,142}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{106,142}}</string>
                <key>sourceSize</key>
                <string>{106,152}</string>
            </dict>
            <key>ui1_btn_3_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,974},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>ui1_btn_3_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,974},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>ui1_btn_4_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,740},{119,110}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,110}}</string>
                <key>sourceSize</key>
                <string>{119,114}</string>
            </dict>
            <key>ui1_btn_4_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,658},{119,110}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{119,110}}</string>
                <key>sourceSize</key>
                <string>{119,114}</string>
            </dict>
            <key>ui1_btn_5_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,669},{177,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,70}}</string>
                <key>sourceSize</key>
                <string>{177,70}</string>
            </dict>
            <key>ui1_btn_5_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,598},{177,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,70}}</string>
                <key>sourceSize</key>
                <string>{177,70}</string>
            </dict>
            <key>ui1_dash_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,286},{316,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,5}}</string>
                <key>sourceSize</key>
                <string>{316,5}</string>
            </dict>
            <key>ui1_func_icon_about.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,851},{40,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{40,58}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ui1_func_icon_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,974},{42,52}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{42,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ui1_func_icon_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,931},{21,55}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,3},{21,55}}</string>
                <key>sourceSize</key>
                <string>{65,59}</string>
            </dict>
            <key>ui1_func_icon_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,603},{170,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,201}}</string>
                <key>sourceSize</key>
                <string>{170,201}</string>
            </dict>
            <key>ui1_func_icon_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,541},{59,15}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,20},{59,15}}</string>
                <key>sourceSize</key>
                <string>{65,59}</string>
            </dict>
            <key>ui1_func_icon_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,980},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,44}</string>
            </dict>
            <key>ui1_func_icon_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,974},{36,40}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{36,40}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ui1_func_icon_quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,953},{54,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ui1_func_icon_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,541},{65,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,59}}</string>
                <key>sourceSize</key>
                <string>{65,59}</string>
            </dict>
            <key>ui1_func_icon_restar.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,541},{58,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{58,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ui1_func_icon_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,740},{62,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{62,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ui1_func_icon_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,541},{61,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{61,59}}</string>
                <key>sourceSize</key>
                <string>{65,59}</string>
            </dict>
            <key>ui1_func_icon_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,980},{42,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,44}}</string>
                <key>sourceSize</key>
                <string>{48,44}</string>
            </dict>
            <key>ui1_headFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,805},{167,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,168}}</string>
                <key>sourceSize</key>
                <string>{167,168}</string>
            </dict>
            <key>ui1_head_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,603},{376,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,147}}</string>
                <key>sourceSize</key>
                <string>{376,147}</string>
            </dict>
            <key>ui1_icon_pushpin.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,805},{58,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,37}}</string>
                <key>sourceSize</key>
                <string>{58,37}</string>
            </dict>
            <key>ui1_info_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,980},{375,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,43}}</string>
                <key>sourceSize</key>
                <string>{375,43}</string>
            </dict>
            <key>ui1_info_bg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,603},{288,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,60}}</string>
                <key>sourceSize</key>
                <string>{288,60}</string>
            </dict>
            <key>ui1_info_bg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,926},{186,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,53}}</string>
                <key>sourceSize</key>
                <string>{186,53}</string>
            </dict>
            <key>ui1_info_bg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,603},{201,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,21}}</string>
                <key>sourceSize</key>
                <string>{201,21}</string>
            </dict>
            <key>ui1_input_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,541},{326,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,61}}</string>
                <key>sourceSize</key>
                <string>{326,61}</string>
            </dict>
            <key>ui1_page_point_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,892},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>ui1_page_point_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,892},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>ui1_pen.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,851},{72,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,79}}</string>
                <key>sourceSize</key>
                <string>{72,79}</string>
            </dict>
            <key>ui1_rank_frame_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,541},{47,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>ui1_rank_frame_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,976},{47,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>ui1_rank_frame_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,976},{47,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>ui1_sbtn_01_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,851},{247,124}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{247,124}}</string>
                <key>sourceSize</key>
                <string>{251,124}</string>
            </dict>
            <key>ui1_sbtn_01_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,603},{247,124}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{247,124}}</string>
                <key>sourceSize</key>
                <string>{251,124}</string>
            </dict>
            <key>ui1_sbtn_01_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,603},{247,122}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{247,122}}</string>
                <key>sourceSize</key>
                <string>{251,124}</string>
            </dict>
            <key>ui1_sbtn_02_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,0},{457,180}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{457,180}}</string>
                <key>sourceSize</key>
                <string>{457,182}</string>
            </dict>
            <key>ui1_sbtn_02_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,183},{457,178}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{457,178}}</string>
                <key>sourceSize</key>
                <string>{457,182}</string>
            </dict>
            <key>ui1_sbtn_03_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,181},{457,178}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{457,178}}</string>
                <key>sourceSize</key>
                <string>{457,182}</string>
            </dict>
            <key>ui1_sbtn_04_noraml.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{457,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{457,182}}</string>
                <key>sourceSize</key>
                <string>{457,182}</string>
            </dict>
            <key>ui1_sbtn_05_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,360},{453,180}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{453,180}}</string>
                <key>sourceSize</key>
                <string>{457,182}</string>
            </dict>
            <key>ui1_sbtn_05_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,362},{453,178}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{453,178}}</string>
                <key>sourceSize</key>
                <string>{457,182}</string>
            </dict>
            <key>ui1_slider_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,603},{322,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,24}}</string>
                <key>sourceSize</key>
                <string>{322,24}</string>
            </dict>
            <key>ui1_slider_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,892},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>ui1_slider_fg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,603},{322,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,24}}</string>
                <key>sourceSize</key>
                <string>{322,24}</string>
            </dict>
            <key>ui1_slider_fg_tranparent.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,603},{322,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,16}}</string>
                <key>sourceSize</key>
                <string>{322,16}</string>
            </dict>
            <key>ui1_star_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,472},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>ui1_star_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,567},{94,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,90}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>ui1_tab_1_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,541},{157,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,56}}</string>
                <key>sourceSize</key>
                <string>{157,56}</string>
            </dict>
            <key>ui1_tab_1_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,541},{157,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,56}}</string>
                <key>sourceSize</key>
                <string>{157,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui1_list.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69339d8345064426aae87cb2cf0ad6ba$</string>
            <key>textureFileName</key>
            <string>ui1_list.png</string>
        </dict>
    </dict>
</plist>
