<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_bg_frame_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{936,558}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{936,558}}</string>
                <key>sourceSize</key>
                <string>{936,558}</string>
            </dict>
            <key>ui_bg_frame_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,452},{480,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,327}}</string>
                <key>sourceSize</key>
                <string>{480,327}</string>
            </dict>
            <key>ui_bg_frame_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,452},{481,613}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,613}}</string>
                <key>sourceSize</key>
                <string>{481,613}</string>
            </dict>
            <key>ui_info_bg_frame_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1973,426},{398,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,57}}</string>
                <key>sourceSize</key>
                <string>{398,57}</string>
            </dict>
            <key>ui_info_bg_frame_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1973,0},{425,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,66}}</string>
                <key>sourceSize</key>
                <string>{425,66}</string>
            </dict>
            <key>ui_info_bg_title_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,0},{451,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,132}}</string>
                <key>sourceSize</key>
                <string>{451,132}</string>
            </dict>
            <key>ui_info_bg_under_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,934},{709,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{709,76}}</string>
                <key>sourceSize</key>
                <string>{709,76}</string>
            </dict>
            <key>ui_info_bg_under_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,937},{830,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{830,76}}</string>
                <key>sourceSize</key>
                <string>{830,76}</string>
            </dict>
            <key>ui_info_bg_under_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,0},{1280,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,103}}</string>
                <key>sourceSize</key>
                <string>{1280,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uibg_frame_list.png</string>
            <key>size</key>
            <string>{2039,1013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:708077a8fdf85fce444bd70a947f0fb2$</string>
            <key>textureFileName</key>
            <string>uibg_frame_list.png</string>
        </dict>
    </dict>
</plist>
